section.features
  h3.center-text Features
  .feature-list
    figure
      include ../svg/checkmark
      figcaption
        h4 Feature One
        p Amazing work has already been done on the new site’s information architecture.

    figure
      include ../svg/checkmark
      figcaption
        h4 Feature Two
        p Amazing work has already been done on the new site’s information architecture.

    figure
      include ../svg/checkmark
      figcaption
        h4 Feature Three
        p Amazing work has already been done on the new site’s information architecture.