footer
  nav
    i flag
    select.transparent
      option Country
      option Country
      option Country
      option Country
      option Country
    hr
    a(href='#') Trademark Policy
    a(href='#') Privacy Policy
    a(href='#') Code of Conduct
    a(href='#') Security Reporting

  nav
    copyright © 2019 Node.js Foundation
    include ../svg/facebook
    include ../svg/twitter
    include ../svg/instagram