.primary-nav
  section
    nav(primary)
      figure.logo: img(intrinsic src='/assets/node-logo.svg')
      a(href='/') Home
      a(href='/learn' selected) Learn

    nav(secondary)
      select.transparent
        option v11.8.1
        option v11.8.2
        option v11.8.3
        option v11.8.4
        option v11.8.5
      a(href='#') GitHub