section(grid vertically-aligned='center' horizontally-distributed='between')
  nav(primary)
    figure.logo: img(src='/assets/node-logo.svg')
    a(href='/' selected) Home
    a(href='/learn') Learn

  nav(secondary)
    select
      option v11.8.1
      option v11.8.2
      option v11.8.3
      option v11.8.4
      option v11.8.5
    a(href='#') GitHub