section.newsletter
  .newsletter-invite
    h4 Subscribe to our weekly newsletter!
    p We'll never share your info and always respect your inbox -- quality content only, we promise.
  form
    .nice-input
      include ../svg/airplane
      input(placeholder='Subscribe to Node.js Everywhere' type='email')
      button(type='submit') Sign Up
