section.newsletter
  .newsletter-invite
    h4 Subscribe to our weekly newsletter!
    p We'll never share your info and always respect yoru inbox -- quality content only, we promise.
  form
    .nice-input
      i i
      input(placeholder='Subscribe to Node.js Everywhere')
      button(type='submit') Sign Up
