section.repl
  .sandbox
    .code-frame
      .title-bar
        .dot
        .dot
        .dot
      .code.input
        pre Code
    .conversion-indicator ›
    .code-frame
      .title-bar
        .dot
        .dot
        .dot
      .code.output
        pre Result

  .center-text
    button Explore the Tutorials
