section.testimonial
  .center-text
    h5 Who Uses Node.js?
    small thousands of happy companies, including:

  .companies-using-node
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')

  .testimonial-carousel
    .left ‹
    .statements
      blockquote hi
      blockquote hi 2
      blockquote hi 3
      blockquote hi 4
      blockquote hi 5
    .right ›