section.testimonial
  .center-text
    h5.xl-heading Who Uses Node.js?
    small thousands of happy companies, including:

  .companies-using-node(grid vertically-aligned='center' horizontally-distributed='between')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')
    img(src='//imgplaceholder.com/120x40/ffffff/333333/fa-image')

  .testimonial-carousel
    .left ‹
    .statements
      blockquote 
        p Cupcake ipsum dolor sit amet biscuit. Soufflé gingerbread chocolate. Fruitcake bear claw chocolate gummi bears cotton candy lemon drops.
        summary
          b Client Name
          small Position, Company
      blockquote 
        p Soufflé cookie tart ice cream. Candy gingerbread sesame snaps jelly jelly. Muffin pastry cake muffin fruitcake dessert muffin muffin.
        summary
          b Client Name
          small Position, Company
      blockquote 
        p Chupa chups muffin pastry cake ice cream cheesecake. Cheesecake candy canes lemon drops biscuit icing oat cake tart. Wafer dragée jelly-o toffee cake cheesecake topping jelly chocolate bar.
        summary
          b Client Name
          small Position, Company
      blockquote 
        p Sugar plum cupcake gummies toffee. Marzipan dragée soufflé marshmallow jelly cupcake cheesecake. Caramels icing pastry gingerbread topping bonbon macaroon cake.
        summary
          b Client Name
          small Position, Company
      blockquote 
        p Gummies chocolate bar cake tart muffin marshmallow caramels. Marzipan candy oat cake jelly cotton candy bear claw. 
        summary
          b Client Name
          small Position, Company
    .right ›