extends ../layouts/page

block content
  header
    include ../partials/nav

    section: .hero
      figure: img(intrinsic src='//imgplaceholder.com/420x320/ededed/999999/fa-image')
      figcaption
        h2.xl-heading 
          | Node.js® is a JavaScript runtime built on 
          a(href='') Chrome's V8 JavaScript engine
        .actions
          button Download Node
          a(button href="/learn") Learn More
  
  main
    include ../partials/features
    include ../partials/repl
    include ../partials/newsletter
    include ../partials/testimonial
    include ../partials/footer
