@import '../settings/colors.css';

footer {
  font-size: 1rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (width < 70rem) {
    justify-content: center;

    & > nav:first-child {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1rem;

      & > a {
        padding: 0.25rem;
      }
    }

    & > nav > hr {
      display: none;
    }
  }

  & hr {
    width: 1px;
    height: 4ex;
    background: var(--lighter-grey);
    border: none;
  }

  & > nav > a:not(:hover) {
    color: var(--darkest-grey);
  }

  & > nav:last-child svg {
    width: 1rem;
  }

  & copyright {
    font-weight: lighter;

    & ~ svg {
      fill: var(--grey);
      cursor: pointer;

      &:hover {
        fill: var(--brand-primary_green);
      }
    }
  }
}