@import '../settings/colors.css';

footer {
  font-size: 1rem;
  padding: 2rem 0;

  & hr {
    width: 1px;
    height: 4ex;
    background: var(--lighter-grey);
    border: none;
  }

  & > nav:last-child svg {
    width: 1rem;
  }

  & copyright {
    font-weight: lighter;
  }
}