@import '../settings/colors.css';
@import '../settings/sizes.css';

header {
  background: var(--lighter-grey);
  color: var(--darkest-grey);

  display: grid;
  grid-template-rows: minmax(min-content, 40vmax);
  grid-template-columns: minmax(auto, var(--main-column-width));
  align-items: center;
  justify-content: center;
}