@import '../settings/colors.css';
@import '../settings/sizes.css';

header {
  background: var(--lighter-grey);
  color: var(--dark-grey);

  display: grid;
  grid-template-rows: auto minmax(min-content, 50vh);
  grid-template-columns: minmax(auto, var(--main-column-width));
  align-items: center;
  justify-content: center;

  & > section {
    padding: 0.5rem;
    max-width: var(--main-column-width);
  }

  & .logo {
    max-height: 90%;
    max-width: 10rem;
  }
}