@import '../settings/sizes.css';

main {
  display: grid;
  gap: 6rem;
  grid-template-columns: minmax(auto, var(--main-column-width));
  justify-content: center;

  @media (width < 70rem) {
    --main-column-width: 100vw;

    & > section:not(.newsletter) {
      padding: 1rem;
    }
  }
}