@import '../settings/colors.css';
@import '../settings/sizes.css';

nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;

  /* & > a {
    white-space: nowrap;
  } */

  &[primary] > a {
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);

    &[selected] {
      background: white;
    }
  }

  & a:not(:hover) {
    text-decoration: none;
    color: var(--dark-grey); 
  }
}