@import '../settings/colors.css';
@import '../settings/sizes.css';

.features {
  & h3 {
    font-size: 2.3rem;
    color: var(--darker-grey);
  }
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 20rem));
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  max-width: var(--main-column-width);

  @media (width < 70rem) {
    justify-content: center;
  }

  & > figure {
    text-align: center;

    & > svg {
      max-width: 3rem;
      stroke: var(--grey);
    }

    & > figcaption {
      color: var(--dark-grey);

      & > h4 {
        color: var(--darker-grey);
        margin-bottom: 0;
      }

      & > p {
        font-size: 0.9rem;
      }
    }
  }
}