@import '../settings/colors.css';
@import '../settings/sizes.css';

.guide-list {
  margin: 0;

  &:first-of-type {
    margin-bottom: 3rem;
  }

  & dt {
    color: var(--darkest-grey);
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 0.75rem;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius);
    position: relative;
    line-height: 1.5;

    &:hover {
      cursor: pointer;
      background: var(--lighter-grey);
      --check-color: hsl(98, 39%, 56%);
    }

    &:not(:last-child):before {
      content: " ";
      display: block;
      position: absolute;
      top: 2.5rem;
      left: 1.7rem;
      width: 2px;
      height: calc(100% - 2rem);
      background: hsl(98, 39%, 56%);
      background: var(--brand-primary_green);
    }

    & > svg {
      --check-color: none;
      --border-color: var(--brand-primary_green);
      --fill-color: none;

      stroke-width: 12px;
      width: 1.5rem;
      height: 1.5rem;
      align-self: flex-start;
    }

    &[completed] > svg {
      stroke-width: 5px;
      --check-color: white;
      --border-color: white;
      --fill-color: var(--brand-primary_green);
    }
  }
}