@import '../settings/colors.css';

.repl {
  display: grid;
  gap: 2rem;
}

.sandbox {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;

  & .code {
    padding: 1rem;
  }

  & > .conversion-indicator {
    font-size: 3rem;
    font-weight: lighter;
    color: var(--brand-primary_green);
  }

  & .output {
    background: var(--lighter-grey);
  }
}